PORT=4003
LOG_LEVEL=info
DATABASE_URL=postgresql://p4_user:p4_password@localhost:5432/p4_orders_db?schema=public
PRODUCTS_SERVICE_URL=http://localhost:4002/graphql
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
